{% extends '../layouts/main' %}

{% block content %}
<div class="customer">
  <div class='row'>
      <div class="col-sm-8 col-md-8 col-xl-8">
        <div class="listItem">
          <ul>
            <li>
              <div class="group ">
                <div class="group-header">
                  <div class="group-title">
                    <h2><a href="/post/view">Blisk browser - trình duyệt dành cho dân lập trình web</a></h2>
                  </div>
                  <div class="author">Đăng bởi: TheHalfHeartNgày: 01-11-2016 View: 640</div>
                </div>
                <div class="group-content overflow">
                  <div class="group-image left thumb150 ">
                    <a href="post/view">
                    <img src="http://freetuts.net/upload/course_post/images/2016/08/17/19/addon-chrome-cho-lap-trinh-web.gif" data-hidpi="http://freetuts.net/upload/course_post/images/2016/08/17/19/addon-chrome-cho-lap-trinh-web.gif" width="220" height="140" alt="Giới thiệu một số addon chrome thông dụng cho lập trình web">
                    </a>
                  </div>
                  <div class="group-body ">
                    Trong bài này mình sẽ chia sẻ với các bạn những addon thông dụng thường sử dụng trong lập trình web, mà thực ra mình cũng không chắc là nó có thông dụng hay không mà đây là những
                    addon mình đang dùng và mình muôn chia sẻ lại với các bạn, hy vọng các bạn cũng thích nó.
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="group">
                <div class="group-header">
                  <div class="group-title">
                    <h2><a href="#">Blisk browser - trình duyệt dành cho dân lập trình web</a></h2>
                  </div>
                  <div class="author">Đăng bởi: TheHalfHeartNgày: 01-11-2016 View: 640</div>
                </div>
                <div class="group-content overflow">
                  <div class="group-image left thumb150 ">
                    <a href="#">
                    <img src="http://freetuts.net/upload/course_post/images/2016/08/17/19/addon-chrome-cho-lap-trinh-web.gif" data-hidpi="http://freetuts.net/upload/course_post/images/2016/08/17/19/addon-chrome-cho-lap-trinh-web.gif" width="220" height="140" alt="Giới thiệu một số addon chrome thông dụng cho lập trình web">
                    </a>
                  </div>
                  <div class="group-body ">
                    Trong bài này mình sẽ chia sẻ với các bạn những addon thông dụng thường sử dụng trong lập trình web, mà thực ra mình cũng không chắc là nó có thông dụng hay không mà đây là những
                    addon mình đang dùng và mình muôn chia sẻ lại với các bạn, hy vọng các bạn cũng thích nó.
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-xl-4 sidebar">
        <div>
          <img src="https://s.adroll.com/a/EY4/XZZ/EY4XZZX465APJOJE53RKH2.jpg" width="300" height="600" border="0" alt="">
        </div>
      </div>

  </div>
</div>
{% endblock %}
